* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: hsl(247, 11%, 15%);
}

.header-container {
    width: 100vw;
    z-index: 999;
    max-height: 80px;
    background-color: hsl(127, 100%, 82%);
    position: fixed;
    color: hsl(252, 17%, 6%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

/* .header-image {
    background-color: black;
    border-radius: 50%;
} */

.header-image img {
    border-radius: 50%;
    cursor: pointer;
}

.header-links ul {
    list-style-type: none;
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.header-links li {
    cursor: pointer;
}

.header-icon {
    display: none;
    cursor: pointer;
}

.header-dropdown ul {
    background-color: hsl(247, 11%, 15%);
    border: 1px solid #111;
    color: whitesmoke;
    width: 200px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-dropdown li {
    border: 1px solid #111;
    padding: 1rem;
    width: 100%;
    z-index: 999;
    font-weight: bold;
}

.header-dropdown li:hover {
    background-color: hsl(127, 100%, 82%);
    color: hsl(247, 11%, 15%);
    z-index: 999;
    cursor: pointer;
}

.dropdown-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(40,40,40,0.7); */
}

@media (max-width: 800px) {
    .header-icon {
        display: block;
    }

    .header-links {
        display: none;
    }
}



/* ------------------------- */

.about-container {
    width: 100vw;
    padding-top: 80px;
    display: flex;
    background-color: hsl(247, 11%, 15%);
    color: rgba(255, 255, 255, 0.6);
}

.left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('./assets/profile_background.jpg'); */
    background-size: cover;
}


.left-side img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.right-side {
    width: 50%;
    background-color: hsl(247, 11%, 15%);
    padding: 4rem;
    text-align: center;
}

.right-side p {
    margin: 2rem 0;
}

.right-side h2 {
    font-size: 3rem;
}

@media (max-width: 800px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }
    .left-side, .right-side {
        width: 100%;
    }

    .left-side {
        height: 400px;
    }
}